h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body,
ul,
li,
button,
input,
textarea,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

.header {
  background: #2c2c2c;
  height: 800px;
  margin: auto;
  border-radius: 0 0 30px 30px;
  position: relative; }
  .header__wrapper {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding-top: 48px; }
  .header__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 38px; }
  .header__nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: appear-v 1s linear;
            animation: appear-v 1s linear; }
  .header__link_hire {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    position: relative; }
    .header__link_hire::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #2060f6;
      border-radius: 4px;
      position: absolute;
      bottom: 0; }
  .header__left {
    width: 40%; }
  .header__heading {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;
    margin-top: 164px;
    -webkit-animation: fadeIn 1s linear;
            animation: fadeIn 1s linear; }
  .header__slogan {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
    margin-bottom: 56px;
    -webkit-animation: appear 1s linear;
            animation: appear 1s linear; }
  .header__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer;
    -webkit-animation: appear 1s linear;
            animation: appear 1s linear; }
    .header__button:hover {
      background-color: #144ed5; }
    .header__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(0, 4, 14, 0.9);
              box-shadow: 0 0 10px rgba(0, 4, 14, 0.9); }
  .header__link {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer; }
    .header__link:focus {
      outline: none; }
  .header__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 680px;
    width: 42vw;
    border-radius: 30px 0;
    background: url(../images/slider/air-slider-1.png);
    background-repeat: no-repeat;
    background-size: cover; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__item {
  list-style: none;
  margin-right: 64px;
  padding: 10px 0;
  position: relative; }
  .nav__item:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #2060f6;
    border-radius: 4px;
    position: absolute;
    bottom: 0; }
  .nav__item:focus {
    outline: none; }

.nav__link {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes appear {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes appear-v {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes appear-v {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slider__controls {
  height: 32px;
  width: 72px;
  display: block;
  position: absolute;
  bottom: 66px;
  left: 48px;
  text-align: justify; }

.slider__controls_prev {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/slider/slider-prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer; }
  .slider__controls_prev:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.slider__controls_next {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/slider/slider-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer; }
  .slider__controls_next:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.slider__title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8px; }

.slider__text {
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  width: 260px; }

.slider__content {
  position: absolute;
  bottom: 48px;
  left: 145px; }

.about {
  max-width: 754px;
  width: 90%;
  margin: 148px auto; }
  .about__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 16px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 920px) {
  .about__text {
    font-size: 20px; } }

@media screen and (max-width: 650px) {
  .about__heading {
    font-size: 24px; }
  .about__text {
    font-size: 16px; } }

.expertise {
  background: #fff;
  border-radius: 30px;
  padding: 128px 0 148px; }
  .expertise__wrapper {
    max-width: 1146px;
    width: 90%;
    margin: auto; }
  .expertise__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 64px; }
  .expertise__cards {
    display: grid;
    grid-template-columns: repeat(3, 264px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
  .expertise__img {
    margin-bottom: 40px;
    border-radius: 16px; }
  .expertise__subheading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 16px; }
  .expertise__description {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 920px) {
  .expertise__cards {
    grid-template-columns: repeat(2, 264px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 20px; } }

@media screen and (max-width: 650px) {
  .expertise__cards {
    grid-template-columns: 264px; }
  .expertise__heading {
    font-size: 32px; } }

.process {
  padding: 250px 10% 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__subheading {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #c0cdd7; }
  .process__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    line-height: 130%;
    margin-bottom: 24px; }
  .process__text {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }

.card {
  width: 264px;
  padding: 32px 0 32px 32px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  position: relative; }
  .card__rate {
    color: #2060f6;
    width: 46px;
    height: 24px;
    line-height: 24px;
    border-radius: 23px;
    background-color: #2060f61a;
    margin-bottom: 24px;
    text-align: center; }
  .card__text {
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 32px; }
  .card__button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;
    background-image: url(/images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    text-decoration: none; }
    .card__button-title {
      position: absolute;
      left: 88px;
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: #334563; }
    .card__button:hover {
      -webkit-transition: -webkit-transform;
      transition: -webkit-transform;
      transition: transform;
      transition: transform, -webkit-transform; }

.approach {
  position: relative;
  color: #fff;
  height: 976px;
  width: 100%; }
  .approach__background {
    background-color: #2c2c2c;
    border-radius: 30px 0 0 30px;
    width: 92%;
    position: absolute;
    right: 0; }
  .approach__block {
    width: 370px; }
  .approach__block_picture {
    background-image: url(../images/approach-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0;
    width: 42%;
    height: 680px;
    position: absolute;
    right: 0;
    bottom: 0; }
  .approach__subheading {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .approach__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 32px; }

.features__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 64px; }

.features__image {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 34px; }
  .features__image_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.features__text {
  width: 264px;
  font-size: 15px;
  line-height: 150%; }

.testimonials__wrapper {
  max-width: 1146px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 168px; }

.testimonials__subheading {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #c0cdd7; }

.testimonials__heading {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 85px; }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 314px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  list-style: none;
  text-align: center;
  background-color: #fff;
  width: 314px;
  padding: 32px; }
  .card__image__wrapper {
    position: relative;
    margin: auto;
    z-index: 10; }
  .card__decor_1 {
    width: 139px;
    height: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: -1; }
  .card__decor_2 {
    width: 139px;
    height: 56px;
    background-color: #2060f6;
    border-radius: 12px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    position: absolute;
    top: 141px;
    right: 6px;
    z-index: -1; }
  .card__img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 111px;
    margin-top: 55px; }
  .card__quotes {
    color: #2060f6;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 309px; }
  .card__text {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 16px; }
  .card__person {
    font-weight: bold;
    font-size: 13px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 4px; }
  .card__post {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

@media screen and (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 314px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 20px; } }

@media screen and (max-width: 670px) {
  .cards {
    grid-template-columns: 314px; } }

.apply {
  height: 691px;
  padding-top: 199px;
  background-color: #fff; }
  .apply__wrapper {
    max-width: 40%;
    margin: 0 auto;
    text-align: center; }
  .apply__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 24px; }
  .apply__text {
    max-width: 750px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: 0 auto 64px;
    color: #6c788b; }
  .apply__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer; }
    .apply__button:hover {
      background-color: #144ed5; }
    .apply__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(11, 37, 99, 0.9);
              box-shadow: 0 0 10px rgba(11, 37, 99, 0.9); }

.footer {
  height: 867px;
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;
  padding: 180px 0 80px; }
  .footer__wrapper {
    max-width: 1145px;
    width: 90%;
    margin: 0 auto; }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 56px; }
  .footer-form__input {
    padding: 16px 0;
    background-color: #2c2c2c;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px; }
    .footer-form__input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::-moz-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::placeholder {
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input:focus {
      color: #fff;
      border-bottom-color: #144ed5; }
  .footer__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer;
    margin: 80px 0 124px; }
    .footer__button:hover {
      background-color: #144ed5; }
    .footer__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(0, 4, 14, 0.9);
              box-shadow: 0 0 10px rgba(0, 4, 14, 0.9); }
  .footer__contact {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px; }
  .footer__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 48px; }
  .footer__socials {
    display: inline-block; }
    .footer__socials_img {
      margin-right: 45px;
      margin-top: 20px; }
      .footer__socials_img:hover {
        -webkit-filter: invert(80%) sepia(54%) saturate(6204%) hue-rotate(221deg) git brightness(85%) contrast(92%);
                filter: invert(80%) sepia(54%) saturate(6204%) hue-rotate(221deg) git brightness(85%) contrast(92%); }
  .footer__link {
    text-decoration: none;
    cursor: pointer;
    outline: none; }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navigation__item {
    list-style: none;
    margin-left: 64px;
    padding: 10px 0;
    position: relative; }
    .navigation__item:hover::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #2060f6;
      border-radius: 4px;
      position: absolute;
      bottom: 0; }
    .navigation__item:focus {
      outline: none; }
  .navigation__link {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #f2f9ff;
  font-family: Open-Sans, sans-serif; }

html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

.main-wrapper {
  max-width: 1146px;
  width: 90%;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
