h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

html,
body,
ul,
li,
button,
input,
textarea,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

.header {
  background: #2c2c2c;
  height: 800px;
  margin: auto;
  border-radius: 0 0 30px 30px;
  position: relative; }
  .header__wrapper {
    max-width: 1150px;
    width: 90%;
    margin: 0 auto;
    padding-top: 48px; }
  .header__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 38px; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation: appear-v 1s linear;
            animation: appear-v 1s linear; }
  .header__logo {
    padding: 5px; }
    .header__logo:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }
  .header__hire {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    position: relative; }
    .header__hire::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #2060f6;
      border-radius: 4px;
      position: absolute;
      bottom: 0; }
    .header__hire:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }
  .header__left {
    width: 40%; }
  .header__heading {
    font-family: Poppins, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
    margin-bottom: 32px;
    margin-top: 164px;
    -webkit-animation: fadeIn 1s linear;
            animation: fadeIn 1s linear; }
  .header__slogan {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
    margin-bottom: 56px;
    -webkit-animation: appear 1s linear;
            animation: appear 1s linear; }
  .header__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer;
    -webkit-animation: appear 1s linear;
            animation: appear 1s linear; }
    .header__button:hover {
      background-color: #144ed5; }
    .header__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(0, 4, 14, 0.9);
              box-shadow: 0 0 10px rgba(0, 4, 14, 0.9); }
    .header__button:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }
  .header__link {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer; }
    .header__link:focus {
      outline: none; }
  .header__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 680px;
    width: 42vw;
    border-radius: 30px 0;
    background: url(../images/slider/air-slider-1.png);
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 900px) {
      .header__slider {
        display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__item {
  list-style: none;
  margin-right: 64px;
  padding: 10px 0;
  position: relative; }
  .nav__item:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    background: #2060f6;
    border-radius: 4px;
    position: absolute;
    bottom: 0; }

.nav__link {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }
  .nav__link:focus {
    outline: 4px outset rgba(32, 96, 246, 0.5); }

@-webkit-keyframes appear {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes appear {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px); }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes appear-v {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes appear-v {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.menu {
  display: none; }
  .menu__item {
    list-style: none; }
  .menu__link {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }

.slider__controls {
  height: 32px;
  width: 72px;
  display: block;
  position: absolute;
  bottom: 66px;
  left: 48px;
  text-align: justify; }

.slider__controls_prev {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/slider/slider-prev.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer; }
  .slider__controls_prev:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.slider__controls_next {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url(../images/slider/slider-next.svg);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  cursor: pointer; }
  .slider__controls_next:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

.slider__title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 8px; }

.slider__text {
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  width: 260px; }

.slider__content {
  position: absolute;
  bottom: 48px;
  left: 145px; }

.about {
  max-width: 754px;
  width: 90%;
  padding: 148px 0;
  margin: 0 auto; }
  .about__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757;
    margin-bottom: 16px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 920px) {
  .about {
    padding: 100px; }
    .about__text {
      font-size: 20px; } }

@media screen and (max-width: 650px) {
  .about {
    padding: 50px; }
    .about__heading {
      font-size: 24px; }
    .about__text {
      font-size: 16px; } }

.expertise {
  background: #fff;
  border-radius: 30px;
  padding: 128px 0 148px; }
  .expertise__wrapper {
    max-width: 1146px;
    width: 90%;
    margin: auto; }
  .expertise__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 64px; }
  .expertise__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center; }
  .expertise__card {
    -ms-flex-preferred-size: 264px;
        flex-basis: 264px; }
  .expertise__img {
    margin-bottom: 40px;
    border-radius: 16px; }
  .expertise__subheading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #253757;
    margin-bottom: 16px; }
  .expertise__description {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 1050px) {
  .expertise__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .expertise__card {
    margin: 30px; }
  .expertise__heading {
    font-size: 32px; } }

@media screen and (max-width: 600px) {
  .expertise {
    padding: 50px 0; }
    .expertise__heading {
      font-size: 26px;
      margin-bottom: 15px; }
    .expertise__img {
      margin-bottom: 0; } }

.process {
  padding-top: 148px; }
  .process__wrapper {
    max-width: 1146px;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.info {
  width: 365px; }
  .info__subheading {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #c0cdd7;
    margin-top: 102px; }
  .info__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    line-height: 130%;
    margin-bottom: 24px; }
  .info__text {
    font-size: 14px;
    line-height: 150%;
    color: #6c788b;
    margin-bottom: 32px; }

.items {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: 264px 264px;
  grid-template-rows: 132px 132px 30px 102px 30px 132px 132px;
  grid-column-gap: 30px;
  grid-template-areas: ". card-2" "card-1 card-2" "card-1 ." "card-1 card-4" ". card-4" "card-3 card-4" "card-3 ."; }

.item {
  width: 264px;
  height: 264px;
  padding: 32px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  position: relative; }
  .item__1 {
    grid-area: card-1; }
  .item__2 {
    grid-area: card-2; }
  .item__3 {
    grid-area: card-3;
    z-index: 1; }
  .item__4 {
    grid-area: card-4; }
  .item__rate {
    color: #2060f6;
    width: 46px;
    height: 24px;
    line-height: 24px;
    border-radius: 23px;
    background-color: #2060f61a;
    margin-bottom: 24px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-weight: 600; }

.list__item {
  list-style: none;
  font-weight: 600;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b; }

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  margin-top: 32px; }
  .more__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2060f6;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
    border: none;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    text-decoration: none;
    margin-right: 16px; }
    .more__button:hover {
      -webkit-transition: -webkit-transform;
      transition: -webkit-transform;
      transition: transform;
      transition: transform, -webkit-transform; }
  .more__title {
    position: absolute;
    left: 88px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

@media screen and (max-width: 1060px) {
  .process {
    padding: 0 0 50px; }
    .process__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .info {
    width: 100%; }
    .info__text:not(:last-child) {
      margin-bottom: 10px; }
  .items {
    grid-template-columns: repeat(2, 264px);
    grid-template-rows: 264px 264px;
    grid-template-areas: "card-1 card-2" "card-3 card-4";
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-row-gap: 30px; } }

@media screen and (max-width: 700px) {
  .items {
    grid-template-columns: 264px;
    grid-template-rows: repeat(4, 264px);
    grid-template-areas: "card-1" "card-2" "card-3" "card-4"; }
  .info__heading {
    font-size: 26px; } }

.approach {
  margin-top: -88px;
  position: relative;
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 30px 0 0 30px;
  width: 92%;
  padding: 204px;
  right: 0;
  margin-left: 8%; }
  .approach__block {
    width: 364px; }
  .approach__picture {
    background-image: url(../images/approach-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 0 0;
    width: 42%;
    height: 680px;
    position: absolute;
    right: 0;
    bottom: 0; }
  .approach__subheading {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px; }
  .approach__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 32px; }

.features__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.features__item:not(:last-child) {
  margin-bottom: 64px; }

.features__picture {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right: 34px; }
  .features__picture_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.features__text {
  width: 264px;
  font-size: 15px;
  line-height: 150%; }

@media screen and (max-width: 1150px) {
  .approach {
    padding: 204px 100px 100px; } }

@media screen and (max-width: 1060px) {
  .approach {
    margin-top: 0;
    padding: 100px; }
    .approach__block {
      width: 100%; }
    .approach__picture {
      display: none; }
  .features__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .features__text {
    width: 90%; } }

@media screen and (max-width: 850px) {
  .approach {
    padding: 5%; }
    .approach__heading {
      font-size: 28px; }
    .approach__subheading {
      font-size: 10px; }
  .features__text {
    font-size: 12px; } }

@media screen and (max-width: 700px) {
  .approach {
    margin-left: 0;
    width: 100%;
    border-radius: 30px; }
    .approach__heading {
      font-size: 20px; } }

.testimonials {
  padding: 148px 0 168px; }
  .testimonials__wrapper {
    max-width: 1146px;
    width: 90%;
    margin: 0 auto; }
  .testimonials__subheading {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #c0cdd7; }
  .testimonials__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 85px; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card {
  list-style: none;
  text-align: center;
  background-color: #fff;
  border-radius: 16px;
  -ms-flex-preferred-size: 314px;
      flex-basis: 314px;
  padding: 32px; }

.person__wrapper {
  position: relative;
  margin: auto;
  z-index: 1; }

.person__decor_left {
  width: 139px;
  height: 56px;
  background-color: #2060f6;
  border-radius: 12px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: -1; }

.person__decor_right {
  width: 139px;
  height: 56px;
  background-color: #2060f6;
  border-radius: 12px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  position: absolute;
  top: 141px;
  right: 6px;
  z-index: -1; }

.person__photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 82px;
  margin-top: 55px; }

.person__quotes {
  color: #2060f6;
  position: relative;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 11px; }

.person__text {
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  color: #6c788b;
  margin-bottom: 16px;
  position: relative; }

.person__name {
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  color: #253757;
  margin-bottom: 4px; }

.person__post {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7; }

@media screen and (max-width: 1050px) {
  .testimonials {
    padding: 100px 0; }
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .card {
    margin: 30px; } }

@media screen and (max-width: 850px) {
  .testimonials__heading {
    margin-bottom: 20px; }
  .testimonials {
    padding: 50px 0; } }

.apply {
  height: 100%;
  padding: 198px 0;
  background-color: #fff;
  position: relative; }
  .apply__wrapper {
    max-width: 40%;
    margin: 0 auto;
    text-align: center; }
  .apply__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    color: #253757;
    text-align: center;
    margin-bottom: 24px; }
  .apply__text {
    max-width: 750px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin: 0 auto 64px;
    color: #6c788b; }
  .apply__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer; }
    .apply__button:hover {
      background-color: #144ed5; }
    .apply__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(11, 37, 99, 0.9);
              box-shadow: 0 0 10px rgba(11, 37, 99, 0.9); }
    .apply__button:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }

.rect {
  position: absolute; }
  .rect__xlarge {
    width: 153.61px;
    height: 60.72px;
    border: 5px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    right: 3%;
    bottom: 25%; }
  .rect__large {
    width: 143.04px;
    height: 56.54px;
    border: 5px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
    .rect__large_1 {
      top: 28%;
      right: 10%; }
    .rect__large_2 {
      top: 50%;
      left: 17%; }
  .rect__xbig {
    width: 93.54px;
    height: 36.98px;
    border: 5px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    bottom: 11%;
    left: 5%; }
  .rect__big {
    width: 86.41px;
    height: 34.16px;
    border: 3px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    right: 1%;
    bottom: 50%; }
  .rect__xmedium {
    width: 85.61px;
    height: 33.84px;
    border: 3px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
    .rect__xmedium_1 {
      right: 12%;
      bottom: 36%; }
    .rect__xmedium_2 {
      top: 15%;
      left: 10%; }
  .rect__medium {
    width: 67.36px;
    height: 26.63px;
    border: 5px solid rgba(32, 96, 246, 0.5);
    border-radius: 12px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    left: 2%;
    bottom: 34%; }
  .rect__small {
    width: 53.69px;
    height: 21.22px;
    border: 3px solid rgba(32, 96, 246, 0.5);
    border-radius: 8px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    right: 4%;
    top: 13%; }
  .rect__xsmall {
    width: 45.28px;
    height: 17.9px;
    border: 3px solid rgba(32, 96, 246, 0.5);
    border-radius: 6px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg); }
    .rect__xsmall_1 {
      right: 37%;
      bottom: 18%; }
    .rect__xsmall_2 {
      bottom: 26%;
      left: 30%; }
    .rect__xsmall_3 {
      top: 10%;
      left: 28%; }

@media screen and (max-width: 850px) {
  .apply {
    padding: 50px; }
    .apply__heading {
      font-size: 26px; }
    .apply__text {
      font-size: 18px; }
  .rect {
    display: none; } }

.footer {
  height: 867;
  background-color: #2c2c2c;
  border-radius: 30px 30px 0 0;
  padding: 180px 0 80px; }
  .footer__wrapper {
    max-width: 1145px;
    width: 90%;
    margin: 0 auto; }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__block {
    -ms-flex-preferred-size: 460px;
        flex-basis: 460px;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .footer__heading {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 56px; }
  .footer-form__input {
    padding: 16px 0;
    background-color: #2c2c2c;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    color: #fff; }
    .footer-form__input:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5);
      color: #fff;
      border-bottom-color: #144ed5; }
    .footer-form__input::-webkit-input-placeholder {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::-moz-placeholder {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input:-ms-input-placeholder {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::-ms-input-placeholder {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7); }
    .footer-form__input::placeholder {
      font-family: Poppins, sans-serif;
      font-size: 15px;
      line-height: 22px;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.7); }
  .footer__button {
    width: 226px;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #2060f6;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    -webkit-transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, -webkit-transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear;
    transition: background-color 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
    cursor: pointer;
    margin: 80px 0 124px; }
    .footer__button:hover {
      background-color: #144ed5; }
    .footer__button:active {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
      -webkit-box-shadow: 0 0 10px rgba(0, 4, 14, 0.9);
              box-shadow: 0 0 10px rgba(0, 4, 14, 0.9); }
    .footer__button:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }
  .footer__logo:focus {
    outline: 4px outset rgba(32, 96, 246, 0.5); }
  .footer__contact {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 8px; }
  .footer__contact:nth-of-type(2) {
    margin-top: 48px; }
  .footer__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 48px; }
    .footer__text_link {
      text-decoration: none; }
      .footer__text_link:focus {
        outline: 4px outset rgba(32, 96, 246, 0.5); }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px; }
  .socials__img {
    width: 32px;
    height: 32px; }
    .socials__img:hover {
      -webkit-filter: invert(80%) sepia(54%) saturate(6204%) hue-rotate(221deg) brightness(85%) contrast(92%);
              filter: invert(80%) sepia(54%) saturate(6204%) hue-rotate(221deg) brightness(85%) contrast(92%); }
  .socials__link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .socials__link:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .navigation__item {
    list-style: none;
    margin-left: 64px;
    padding: 10px 0;
    position: relative; }
    .navigation__item:hover::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #2060f6;
      border-radius: 4px;
      position: absolute;
      bottom: 0; }
  .navigation__link {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }
    .navigation__link:focus {
      outline: 4px outset rgba(32, 96, 246, 0.5); }

@media screen and (max-width: 1070px) {
  .footer {
    height: 100%; }
    .footer__content {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .footer__block {
      margin: 30px; }
    .footer__button {
      margin: 20px 0 0; }
    .footer__heading {
      font-size: 26px; }
    .footer-form__input {
      padding: 12px 0;
      margin-bottom: 20px; }
    .footer__contact {
      font-size: 10px; }
    .footer__text {
      font-size: 18px; } }

@media screen and (max-width: 850px) {
  .footer {
    position: relative;
    padding-top: 50px; }
    .footer__logo {
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .footer__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .navigation__item {
      margin: 0; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #f2f9ff;
  font-family: Open-Sans, sans-serif; }

html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

/*# sourceMappingURL=main.css.map */
